@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

.blocos__brancos {
    background-color: white;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-top: 10vh;
}

.paragrafos__normais {
    font-family: 'Sriracha', cursive;
    font-size: 3em;
}