@charset "UTF-8";

.rodape {
    background-color: black;
    color: white;
    font: 1.1em Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center; 
    text-justify: auto;
}

.rodape__ancora {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.rodape__ancora:hover {
    text-decoration: underline;
}